/* Basic reset; detailed styles in styles/*.css */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
